<section>
  <form>
    <mat-form-field>
      <mat-label>Ingrese email</mat-label>
      <input type="email" matInput placeholder="email@corre.com" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingrese password</mat-label>
      <input type="password" matInput placeholder="password" />
    </mat-form-field>
  </form>
</section>

<section id="contenedor">
  <div id="elemento1" class="elemento"></div>
  <div id="elemento2" class="elemento"></div>
  <div id="elemento3" class="elemento"></div>
</section>
